/* General Styles */
body {
    margin: 10px;
    font-family: Arial, sans-serif;
    position: relative;
}

/* Language Switcher Styles */
.language-switcher {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.flag {
    width: 30px;
    height: 20px;
    cursor: pointer;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Privacy Policy Styles */
.privacy-policy {
    padding: 20px;
    margin-top: 20px; /* Increase the top margin by 20 pixels */
    max-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* hashtag instead of . use id name - override - or directly at .privacy-policy */
#privacyPolicy {
    padding-top: 18px; /* Adds padding inside the box at the top */
}


.privacy-policy h1 {
    margin-top: 0;
    font-size: 24px;
    color: #0239b1;
}

.privacy-policy p {
    margin-bottom: 1em;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .privacy-policy {
        padding: 15px;
    }

    .privacy-policy h1 {
        font-size: 20px;
    }

    .flag {
        width: 25px;
        height: 15px;
    }
}
