body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.text {
  font-size: 24px;
  line-height: 1.5;
  padding-left: 2px;
}

.text2 {
  font-size: 36px;
  line-height: 1.5;
  padding-left: 0px;
}

/* Add this CSS for fading effect */

.fade-out-start {
  opacity: 1;
  transition: opacity 0s;
  padding-left: 0px;
}

.fade-out {
  opacity: 0.2;
  transition: opacity 0.5s;
  padding-left: 20px;
}

.fade-out-reference {
  opacity: 0.3;
  transition: opacity 0.5s;
  padding-right: 20px;
  text-align: right; /* Align text to the right */
  font-size: 12px;
}

.fade-out-reference2 {
  opacity: 0.5;
  transition: opacity 0.5s;
  padding-right: 20px;
  text-align: right; /* Align text to the right */
  font-size: 16px;
}

.fade-out-en {
  opacity: 0.4;
  transition: opacity 0.5s;
  padding-left: 23px;
  text-align: left; /* Align text to the right */
  font-size: 16px;
}
/* Style the sentences based on their class */
.indent {
  padding-left: 20px;
  /* Add indentation */
}

img {
  max-width: 100%;
  height: auto;
}

.image-caption {
  font-size: 18px;
  margin-top: 20px;
}

.back-button {
  display: inline-block;
  background-color: #022202;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}
/* Style without dot global for all videos */
.videodm { 
  object-fit: cover;
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 10vw;
  right: 0;
  margin: auto;
}

video { 
  object-fit: cover;
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  position: relative;
  top: 0;
  bottom: 0;
  left: 10vw;
  right: 0;
  margin: auto;
}